#dvPacientes{
    position:relative !important;
}

#dvNuevoPaciente{
    margin-top:-250px;
    background-position:center;
}

#dvEditarPaciente{
    margin-top:-500px;
    background-position:center;
}

.ingresarFicha{
    margin-top:-750px;
}