#dvPacientes{
    position:relative !important;
}

#dvNuevoPaciente{
    margin-top:-250px;
    background-position:center;
}

#dvEditarPaciente{
    margin-top:-500px;
    background-position:center;
}

.ingresarFicha{
    margin-top:-750px;
}

#dvVerHistorico{
    margin-top: -1000px;
}


#container {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}