#dvSocios{
    position:relative !important;
}

#dvNuevoSocio{
    margin-top:-250px;
    background-position:center;
}

#dvEditarSocio{
    margin-top:-500px;
    background-position:center;
}

.ingresarFicha{
    margin-top:-750px;
}